/* ===========
   Menu
 =============*/

.container-fluid {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
  padding-top: 30px;
  position: relative;
  padding-bottom: 72px;
}

#topnav {
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  border: 0;
  background: $bg-topbar;

  .has-submenu.active {
    a{
      color: $white;

      i {
        color: $white;
      }
    }


    .submenu {
      li.active > a{
        color: $custom;
      }
    }
  }

  .topbar-main {
    //background: $bg-gradient;
    //box-shadow: $shadow;

    .logo {
      color: $white !important;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 70px;
      text-transform: uppercase;
      float: left;
    }

    .logo-small {
      display: none;
    }
    .badge-topbar {
      position: absolute;
      top: 7px;
      right: 7px;
      z-index: 99;
    }

    .nav > li > a {
      height: 36px;
      width: 36px;
      padding: 0;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      margin: 12px 8px;
      color: rgba($dark,0.7);

      &:focus,&:hover {
        background-color: rgba($dark,0.1);
        color: $dark;
      }
    }

    .dropdown-menu-lg {
      .list-group {
        margin-bottom: 0;
      }
      .list-group-item {
        border: none;
        padding: 10px 20px;
      }
      .media-heading {
        margin-bottom: 0;
      }
      .media-body {
        p {
          color: #828282;
        }
      }
    }

    .navbar-nav {
      margin: 0;
    }

    .topbar-right-menu {
      li {
        float: left;
      }
    }
  }

  .navbar-custom {
    float: left;
  }

  .navbar-toggle {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:hover {
      background-color: transparent;

      span {
        background-color: $white;
      }
    }

    &:focus {
      background-color: transparent;

      span {
        background-color: $white;
      }
    }

    .lines {
      width: 25px;
      display: block;
      position: relative;
      margin: 15px 10px 0 0;
      padding-top: 13px;
      height: 44px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
    }
    span {
      height: 2px;
      width: 100%;
      background-color: rgba($white,0.8);
      display: block;
      margin-bottom: 5px;
      -webkit-transition: -webkit-transform .5s ease;
      transition: -webkit-transform .5s ease;
      transition: transform .5s ease;
    }
  }

  .navbar-toggle.open {
    span {
      position: absolute;

      &:first-child {
        top: 18px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        visibility: hidden;
      }
      &:last-child {
        width: 100%;
        top: 18px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navigation-menu > li {
    display: inline-block;
    position: relative;
  }

  .navigation-menu > li > a {
    display: block;
    color: rgba($white,0.7);
    font-weight: 500;
    font-size: 14px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;

    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
    &:active {
      color: $white;
    }

    i {
      font-size: 16px;
      margin-right: 5px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      vertical-align: text-top;
    }
  }

  .navigation-menu > li > a:hover, .navigation-menu > li > a:focus {
    background-color: transparent;
  }
}

/*
  Responsive Menu
*/
@media (min-width: 992px) {

  #topnav {

    .navigation-menu > li > a {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .topbar-main .logo {
      min-width: 150px;
    }

    .navigation-menu > li.last-elements .submenu {
      left: auto;
      right: 0;
    }
    .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
      left: auto;
      right: 100%;
      margin-left: 0;
      margin-right: 10px;
    }

    //.navigation-menu > li {
    //  &:first-of-type {
    //    a {
    //      padding-left: 0px;
    //    }
    //  }
    //}

    .navigation-menu > li:hover a {
      color: $white;

      i {
        color: $white;
      }
    }

    .navigation-menu>li>ul>li.has-submenu:active>a ,
    .navigation-menu>li>ul>li.has-submenu:hover>a {
      color: $custom;
    }
    .navigation-menu > li .submenu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      border: 1px solid #e7e7e7;
      padding: 15px 0;
      list-style: none;
      min-width: 200px;
      text-align: left;
      visibility: hidden;
      opacity: 0;
      margin-top: 10px;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      background-color: $white;
    }
    .navigation-menu > li .submenu.megamenu {
      white-space: nowrap;
      width: auto;
    }
    .navigation-menu > li .submenu.megamenu > li {
      overflow: hidden;
      width: 200px;
      display: inline-block;
      vertical-align: top;
    }
    .navigation-menu > li .submenu > li.has-submenu > a:after {
      content: "\F142";
      font-family: "Material Design Icons";
      position: absolute;
      right: 20px;
      top: 5px;
      font-size: 18px;
    }
    .navigation-menu > li .submenu > li .submenu {
      left: 100%;
      top: 0;
      margin-left: 10px;
      margin-top: -1px;
    }
    .navigation-menu > li .submenu li {
      position: relative;
    }
    .navigation-menu > li .submenu li ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
    .navigation-menu > li .submenu li a {
      display: block;
      padding: 8px 25px;
      clear: both;
      white-space: nowrap;
      font-size: 14px;
      color: $dark;
    }
    .navigation-menu > li .submenu li a:hover {
      color: $custom;
    }
    .navigation-menu > li .submenu li span {
      display: block;
      padding: 8px 25px;
      clear: both;
      line-height: 1.42857143;
      white-space: nowrap;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
      color: $dark;
    }
    .navbar-toggle {
      display: none;
    }
  }

  #topnav #navigation {
    display: block !important;
  }

  .wrapper {
    min-height: 880px;
  }

}
@media (max-width: 991px) {
  .wrapper {
    padding-top: 90px;
  }
  .container {
    width: auto !important;
  }

  #topnav {
    .navigation-menu {
      float: none;
      max-height: 400px;
      text-align: left;
    }
    .navigation-menu > li {
      display: block;
    }
    .navigation-menu > li > a {
      color: $dark;
      padding: 15px;

      i {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;
        vertical-align: inherit;
      }
    }
    .navigation-menu > li > a:after {
      position: absolute;
      right: 15px;
    }
    .navigation-menu > li .submenu {
      display: none;
      list-style: none;
      padding-left: 20px;
      margin: 0;
    }
    .navigation-menu > li .submenu li a {
      display: block;
      position: relative;
      padding: 7px 20px;
      color: $dark;
    }
    .navigation-menu > li .submenu li a:hover {
      color: $custom;
    }
    .navigation-menu > li .submenu li.has-submenu > a:after {
      content: "\F140";
      font-family: "Material Design Icons";
      position: absolute;
      right: 30px;
    }
    .navigation-menu > li .submenu.open {
      display: block;
    }
    .navigation-menu > li .submenu .submenu {
      display: none;
      list-style: none;
    }
    .navigation-menu > li .submenu .submenu.open {
      display: block;
    }
    .navigation-menu > li .submenu.megamenu > li > ul {
      list-style: none;
      padding-left: 0;
    }
    .navigation-menu > li .submenu.megamenu > li > ul > li > span {
      display: block;
      position: relative;
      padding: 15px;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 2px;
      color: $dark;
    }
    .navigation-menu > li.has-submenu.open > a {
      color: $custom;
    }

    .navbar-header {
      float: left;
    }
  }

  #navigation {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: $white;
  }
  
  #navigation.open {
    display: block;
    overflow-y: auto;
    z-index:1;
  }

  #topnav .has-submenu.active a {
    color: $custom;

    &:active,&:focus,i {
      color: $custom;
    }
  }

}

@media (min-width: 768px) {
  #topnav .navigation-menu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-toggle {
    display: block;
  }
#
}

.topbar-custom {
  border-radius: 0;
  margin-bottom: 0;

  .nav-link {
    padding: 0;
    line-height: 70px;
    color: rgba($white,0.6);
  }

  .dropdown-toggle {
    &:after {
      content: initial;
    }
  }

  .menu-left {
    overflow: hidden;
  }
}


/* Footer */
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  text-align:left !important;
  padding: 20px 0;
  position: absolute;
  right: 0;
  background-color: $white;
  left: 0;
}

/* Search */
.app-search {
  position: relative;
  padding-top: 18px;

  a {
    position: absolute;
    top: 18px;
    left: 220px;
    display: block;
    height: 34px;
    line-height: 34px;
    width: 34px;
    text-align: center;
    color: rgba($white, 0.5);

    &:hover {
      color: $white;
    }
  }

  .form-control,
  .form-control:focus {
    border: 1px solid rgba($white, 0.3);
    font-size: 13px;
    height: 34px;
    color: $white;
    padding-left: 20px;
    padding-right: 40px;
    background: transparent;
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
  }
}

.app-search input {
  &::-webkit-input-placeholder {
    color: rgba($white,70%);
  }
  &:-moz-placeholder {
    color: rgba($white,70%);
  }
  &::-moz-placeholder {
    color: rgba($white,70%);
  }
  &:-ms-input-placeholder {
    color: rgba($white,70%);
  }
}


/* Page titles */
.page-title {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 2px;
  font-weight: 600;
}



/* Notification */
.notification-wrapper {
  max-height: 190px;
}

.notification-list {
  margin-left: 0 !important;

  .noti-title {
    background-color: $white !important;
    padding: 10px 20px;

    h6 {
      font-size: 14px;
    }
  }

  .noti-icon {
    font-size: 20px;
    padding: 0 15px;
    vertical-align: middle;
    color: rgba($white,0.8);
  }
  .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 8px;
  }
  .notify-item {
    padding: 10px 20px;

    .notify-icon {
      float: left;
      height: 36px;
      width: 36px;
      line-height: 36px;
      text-align: center;
      margin-right: 10px;
      border-radius: 50%;
      color: $white;
    }
    .notify-details {
      margin-bottom: 0;
      overflow: hidden;
      margin-left: 45px;
      text-overflow: ellipsis;
      white-space: nowrap;
      b {
        font-weight: 500;
      }
      small {
        display: block;
      }
      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
      }
    }
    .user-msg {
      margin-left: 45px;
      white-space: normal;
      line-height: 16px;
    }
  }
  .notify-all {
  }
  .profile-dropdown {
    .notify-item {
      padding: 7px 20px;
    }
  }
}

.profile-dropdown {
  width: 170px;
  i {
    vertical-align: middle;
    margin-right: 5px;
  }
  span {
    vertical-align: middle;
  }
}

.nav-user {
  padding: 0 12px !important;

  img {
    height:32px;
    width: 32px;
  }
}





@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .container-fluid {
    max-width: 100%;
  }

  #topnav {
    position: fixed;
  }

  .topbar-left {
    width: 70px !important;

    span {
      display: none !important;
    }
    i {
      display: block !important;
      line-height: 70px !important;
    }
  }

  .topbar .topbar-left {
    height: 70px;
  }

  .navbar-nav.navbar-right {
    float: right;
  }
  .content-page {
    margin-left: 0 !important;
  }
  .enlarged .left.side-menu {
    margin-left: -70px;
  }
  .footer {
    left: 0 !important;
  }

  .mobile-sidebar {
    left: 0;
  }

  .mobile-content {
    left: 250px;
    right: -250px;
  }

  .dataTables_wrapper {
    .col-xs-6 {
      width: 100%;
      text-align: left;
    }
  }

  div#datatable-buttons_info {
    float: none;
  }
  .ms-container {
    width: 100%;
  }
  .m-t-sm-50 {
    margin-top: 50px !important;
  }
  .fixedHeader-floating {
    top: 60px !important;
  }
 
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;

    li {
      display: block;
    }
  }
  .navbar-nav {
    margin: 0;
    display: inline-block;

    li {
      display: inline-block;
      line-height: 1px;
    }
  }
  .dropdown-lg {
    width: 200px !important;
  }
  .user-box {
    float: right;
  }
  .dataTables_length {
    float: none;
    margin-bottom: 10px;
  }
  .table-auto-res {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }

  .button-menu-mobile {
    display: block;
  }

  .search-bar {
    display: none !important;
  }
  .logo-large {
    display: none;
  }
  .logo-small {
    display: inline-block !important;
  }
  .dropdown-menu-lg {
    max-width: 230px;
  }
}

@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
}



@media (max-width: 419px) {
  .hidden-xxs {
    display: none;
  }
  .pro-user-name {
    display: none;
  }
  .topbar-left {
    width: 70px !important;
  }
  .page-title {
    font-size: 15px;
    max-width: 250px;
    white-space: nowrap;
  }

  .editable-responsive {
    overflow-x: auto;
  }

  .page-title-box .breadcrumb {
    display: none;
  }

  .navbar-nav .open .dropdown-menu {
    margin-right: -20px;
  }
  .user-box .dropdown-menu {
    margin-right: 0 !important;
  }

  .dropdown-lg {
    width: 200px !important;
  }
  .user-list .user-list-item .icon,.user-list .user-list-item .avatar {
    display: none;
  }
  .user-list .user-list-item .user-desc {
    margin-left: 0;
  }
}