@import url("https://fonts.googleapis.com/css?family=Hind:400,500,700|Noto+Sans:400,700");

// Custom Color
$custom: #089ce4; //19b798

$primary: #458bc4;
$success: #4fc55b;
$info: #3db9dc;
$warning: #e2ab3b;
$danger: #d57171;
$white: #ffffff;
$black: #000000;
$dark: #626773; //3f475c
$light: #f5f5f5;
$muted: #7a7d84;

$bg-topbar: #089ce4;

$bg-body: #ffffff;

$font-primary: "Noto Sans", sans-serif;
$font-secondary: "Hind", sans-serif;
